@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$poppins: 'poppins', sans-serif;


$main-color: #6600cc;
$main-color-low-opacity: #6600cc2a; 
$secondary-color: #7F48B5;

$light-grey: #F5F5F5;
$color-grey: rgba(0, 0, 0, .2);

$error-color: #df2e2e;
$success-color: #4BB543;
