.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.header a {
    color: var(--main-color);
}
.header svg {
    height: 35px;
    width: 35px;
    margin-left: 10px;
    fill: var(--main-color);
}