.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}
.form {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.formTitle {
    text-align: center;
    font-weight: 600;
}
.inputGroup {
    position: relative;
    border-radius: 10px;
    border: 2px solid var(--main-color);
    margin: 40px 0;
}
.inputGroup label {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    color: var(--main-color);
    padding: 0 3px;
    font-size: 14px;
}
.inputGroup input {
    width: calc(100% - 20px);
    border: none;
    outline: none;
    padding: 12px 10px;
    border-radius: 10px;
    font-size: 16px;
}
.inputGroup svg {
    position: absolute;
    right: 10px;
    top: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.errorMsg {
    position: absolute;
    display: flex;
    align-items: center;
    color: var(--error-color);
    font-size: 13px;
    margin-top: 5px;
}
.errorMsg svg {
    width: 15px;
    height: 15px;
    position: relative;
    top: 0;
    left: 3px;
    margin-right: 5px;
}
.errorInputGroup {
    border: 2px solid var(--error-color);
}
.errorInputGroup label {
    color: var(--error-color);
}
.submitBtn {
    width: 100%;
    background-color: var(--main-color);
    padding: 10px 20px;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.redirect {
    font-size: 13px;
    text-align: center;
}
.redirect span {
    color: var(--main-color);
    cursor: pointer;
    text-decoration: underline;
}
