@import './variables';

.noticeboard-component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .top-part {
    height: calc(100% - 100px);
    display: flex;
    .msg-alert-container {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .msg-card {
        padding: 20px;
        border-radius: 4px;
        max-width: 70%;
        background: white;
        background: $light-grey;
        .title {
          font-weight: 600;
        }
        .body {
          font-size: 14px;
          margin: 20px 0;
        }
        .author {
          font-size: 12px;
          color: $main-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .messages-list {
      height: 100%;
      width: 50%;
      overflow: auto;
    }
  }
  .admin-msg-banner {
    position: relative;
    background: $main-color;
    height: 100px;
    overflow: hidden;
    .wrapper {
      position: absolute;
      height: 100%;
      display: inline-flex;
      align-items: center;
      padding-left: 100%;
    }
    p {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 600;
      color: white;
      white-space: nowrap;
      &:not(:last-child):after {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
        display: block;
        margin: 0 30px;
      }
    }
  }
}

@keyframes anim {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}